<div class="container content-wrapper">
  <div class="img-container">
    <%= image_tag "oussama-ammar.png", class: "avatar" %>
  </div>
  <div class="slideshow-container">
    <% @quotes.each do |quote| %>
      <div class="mySlides">
        <p class="quote-description">"<%= quote.description %>"</p>
      </div>
    <% end %>
  </div>
</div>

<div class="nav-buttons flex-center">
  <a class="btn btn-quote" onclick="plusSlides(-1)">Précédente</a>
  <a class="btn btn-quote" onclick="plusSlides(1)">Suivante</a>
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
    slides[slideIndex-1].style.display = "block";
  }
</script>
