body {
  background: #091F5A;
}
.content-wrapper {
  height: calc( 100vh - 70px );
  padding-top: 50px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.nav-buttons {
  height: 70px;
  padding: 15px;
}
@media (min-width: 600px) {
  .quote-description {
    font-size: 25px;
  }
}
